{% csrf_token %}
{% for error in form.non_field_errors %}

    <p class="text-danger">{{ error }}</p>

{% endfor %}

{#<label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label><br/>#}
{#{{ form.title }}#}
{##}
{##}
{#    {% for error in form.title.errors %}#}
{#    	<p class="text-danger">{{ error }}</p>#}
{#    {% endfor %}#}
{##}
{##}
{#<br/>#}
{##}
{#<label for="{{ form.content.id_for_label }}">{{ form.content.label }}:</label><br/>#}
{#{{ form.content }}#}
{##}
{##}
{#    {% for error in form.content.errors %}#}
{#    	<p class="text-danger">{{ error }}</p>#}
{#    {% endfor %}#}
{##}
{##}
{#<br/>#}
{#<label for="{{ form.author.id_for_label }}">{{ form.author.label }}:</label><br/>#}
{#{{ form.author }}#}
{##}
{##}
{#    {% for error in form.author.errors %}#}
{#    	<p class="text-danger">{{ error }}</p>#}
{#    {% endfor %}#}
{##}
{##}
{#<br/>#}
{% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br/>
    {{ field }}


    {% for error in field.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}


    <br/>
{% endfor %}


<input type="submit" value="{{ value_submit }}"/>