{% extends 'base.html' %}
{#{% load static %}#}

{% block title %}{{ article.title }}{% endblock %}
{% block menu %}<a class="nav-link" aria-current="page"  href="{% url 'index' %}">На главную</a>{% endblock %}

{% block content %}
{#    <img src="{% static 'img/1552932077_1.jpg' %}" alt="">#}
    <h1>Article</h1>
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
                <p class="card-text">{{ article.content }}</p>
                <p>{{ article.created_at }}</p>
            </div>
        </div>
{% endblock %}
