{% extends 'base.html' %}

{% block title %}Create Article{% endblock %}
{% block menu %}<a class="nav-link" aria-current="page"  href="{% url 'index' %}">На главную</a>{% endblock %}

{% block content %}
<h1>Create Article</h1>

<form action="" method="post">
    {% csrf_token %}

    <label>Title:</label><br/>
    <input type="text" name="title"/><br/>

    <label>Text:</label><br/>
    <textarea name="content"></textarea><br/>

    <label>Author:</label><br/>
    <input type="text" name="author"/><br/>
    <br/>
    <select name="type_id" id="">
        {% for type_article in types_article %}
            <option value="{{ type_article.id }}">{{ type_article.title }}</option>
        {% endfor %}

    </select>

    <br/>
    <input type="submit" value="Send"/>
</form>

{% endblock %}